@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
